.container
    position: absolute
    top: 0
    right: 0
    background-color: rgba(0, 0, 0, 0.2)
    padding: 10px
    z-index: 9
    pointer-events: none
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 5px

    >div
        text-align: center

    .title
        color: #777
